<form method="post" action="/<%= @requested_file %>">
  <label for="content">Edit contents of <%= @requested_file %>:</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>

