<form action="/users/login" method="get">
  <button type="submit">Log In</button>
</form>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <br>
      <button><a href="/<%= file %>/edit"> Edit</a></button>
      <form action="<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
    <br>
  <% end %>
</ul>

<a href="/new">New Document</a>
