<form action="/users/login" method="post" >
  <label for="username">User Name:</label>
  <input name="username" id="username" placeholder="Bob Smith" type="text">
  <br>
  <label for="password">Password:</label>
  <input name="password" id="password" placeholder="*****" type="text">

  <fieldset class="actions">
    <input type="submit" value="Log In">
  </fieldset>
</form>
