<form action="/" method="post" >
  <dl>
    <dt>
      <label for="new_file_name">Add a new document:</label>
    </dt>
    <dd>
      <input name="new_file_name" placeholder="New File Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Create">
  </fieldset>
</form>

