/*.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2; 
}

.flash p {
  font-size: 14px;
  font-weight: bold; 
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF; 
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5; 
}
*/
